<!doctype html>
<html lang="en">
  <head>

    <!-- head -->
    <style>
      .box {
        border: 1px solid black ;
        border-radius: 15px;
        background-color: rgba(185, 202, 209, 0.404);
        width:90%;
        margin: 0% 0% 0% 5%;
      }
      .submit {
        display: block;
        background-color:rgb(121, 158, 226) ;
        color: white;
        border-radius: 15px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 85%;
        font-size: 300%;
      }
    </style>

  </head>
  <body>

    <!-- navbar -->

    <!-- view -->
      <div style="display:flex;">
        <span style="margin:0% 0% 0% 5%">✓ 경기 게시판</span>
        <span style="margin:0% 0% 0% 64%">
          <!-- 검색 -->
          <form action="/post/gamePostList/page/<%= page %>" method="get">
            <select name="field">
              <% if (field != 'user_id'){ %>
              <option value="post_title">제목</option>
              <option value="user_id">작성자</option>
              <%}%>
              <% if (field == 'user_id'){ %>
              <option value="post_title">제목</option>
              <option selected value="user_id">작성자</option>
              <%}%>
            </select>
            <input type="text" name="condition"
            <% if (condition != null) { %>
              value="<%= condition %>"
            <% } %>
            >
            <input type="submit" value = "검색">
          </form>
        </span>
      </div>
      <!-- 경기 게시글 목록 -->
      <% const p = (null == page ? 1 : page) %>
      <% const startNum = p-(p-1)%10   %>
    <form action="" method="get">
      <div class="box">
          <table>
            <th></th>
            <td></td>
          </table>
      </div>
      <button class="submit">글쓰기</button>
    </form>

    
    <!-- bot -->

  </body>
</html>