<!doctype html>
<html lang="en">
  <head>

    <!-- head -->
    <%- include('./partials/head') %>

  </head>
  <body>

    <!-- navbar -->
    <%- include('./partials/nav') %>

    <!-- view -->
    <%- include(page) %>
    
    <!-- bot -->
    <%- include('./partials/bot') %>
  </body>
</html>