<!doctype html>
<html lang="en">
  <head>

    <!-- head -->
    
    </style>
    <title>매칭 전</title>
  </head>
  <body>

    <!-- navbar -->

    <!-- view -->
    
    <input type="submit" value="매칭전">
    <input type="submit" value="매칭 후">
    <hr>
    내가 등록한 경기
    <table>
      <thead>
        <th>등록일자</th><th>장소</th><th>구장비</th><th>날짜</th><th>신청마감</th>
      </thead>
      <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tbody>
    </table>
    </hr>
    내가 신청한 경기
    <table>
      <thead>
        <th>팀이름</th><th>주장</th><th>통산전적</th><th>날짜</th><th>장소</th><th>&nbsp</th>
      </thead>
      <tbody>
        <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td><input type="submit" value="신청취소"></td>
      </tbody>
    </table>


    <!-- bot -->

  </body>
</html>