<!doctype html>
<html lang="en">
  <head>

    <!-- head -->
    
    </style>
    <title>매칭 후</title>
  </head>
  <body>

    <!-- navbar -->

    <!-- view -->
    
    <form style="display: inline;" method="get" action="http://localhost:4000/game/myGameListBefore/3">
      <input type="submit" value="매칭 후">
    </form>
    <span>매칭후</span>
    <hr>
    <table style="width:70%;border:1px solid black;text-align:center">
      <thead>
        <tr>
          <th>날짜/장소</th><th>경기/th><th>상태</th><th>&nbsp</th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
    </table>
    <!-- bot -->

  </body>
</html>